In [18]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [83]:
data = pd.read_csv("Salary.csv")

In [84]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  35 non-null     float64
 1   Salary           35 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 688.0 bytes

In [86]:
x = data["YearsExperience"]
y = data["Salary"]

x = x.values.reshape(-1,1)

In [88]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.3, random_state=42)

In [89]:
lr = LinearRegression()

In [90]:
lr.fit(X_train, Y_train)

LinearRegression()

In [91]:
predict = lr.predict(X_test)

In [92]:
print(predict)

[110877.79583392  64678.96421127 104033.52448241  90344.98177941
  71523.23556278 119433.1350233   80934.10867109  63823.43029234
  56979.15894083  73234.30340065  61256.82853552]

In [93]:
from sklearn import metrics

In [94]:
metrics.explained_variance_score(Y_test, predict)

0.9194751945647691

In [95]:
metrics.r2_score(Y_test, predict)

0.9171426108885095